OIDC_REDIRECT_URI=http://localhost/callback
OIDC_DISCOVERY_URL=https://foo.bar/.well-known/openid-configuration
OIDC_CLIENT_ID=id
OIDC_CLIENT_SECRET=secret
OIDC_GROUPS_ATTRIBUTE=roles
OIDC_GROUP_NAME=register-role
OAUTHLIB_INSECURE_TRANSPORT=1
OIDC_AUDIENCE=id
OIDC_PUBLIC_KEYS=https://foo.bar/protocol/openid-connect/certs